    //// Disk
    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "title": "%servicedesc% - %hostname%:%target%",
          "id": "disk0001",
	  "datasource": "%grafanadatasource%",
          "isNew": true,
          "editable": true,
          "span": 6,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "mbytes" ],
          "grid": {
            "leftLogBase": 1, "leftMax": null, "leftMin": 0
          },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [
            {
	      "refId": "0001",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "refId": "A",
              "measurement": "%measurement%",
	      "alias": "$col",
              "groupBy": [],
              "tags": [
                { "key": "hostname", "operator": "=", "value": "%hostname%" },
                { "key": "disk", "operator": "=", "value": "%target%" }
              ],
              "select": [
                [
		  { "type": "field", "params": [ "disk_total" ] },
		  { "type": "alias", "params": [ "total size" ] }
		],
                [
		  { "type": "field", "params": [ "disk_avail" ] },
		  { "type": "alias", "params": [ "available size" ] }
	        ]
              ]
            }
          ]
        },
        {
          "title": "%servicedesc% Available % - %hostname%:%target%",
          "id": "disk0002",
	  "datasource": "%grafanadatasource%",
          "isNew": true,
          "editable": true,
          "span": 6,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "percent" ],
          "grid": {
            "leftLogBase": 1, "leftMax": 100, "leftMin": 0
          },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [
            {
	      "refId": "0001",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "refId": "A",
              "measurement": "%measurement%",
	      "alias": "$col",
              "groupBy": [],
              "tags": [
                { "key": "hostname", "operator": "=", "value": "%hostname%" },
                { "key": "disk", "operator": "=", "value": "%target%" }
              ],
              "select": [
                [
		  { "type": "field", "params": [ "disk_avail_pct" ] },
		  { "type": "alias", "params": [ "available %" ] }
		],
                [
		  { "type": "field", "params": [ "disk_avail_pct.warn_lower" ] },
		  { "type": "alias", "params": [ "warning" ] }
	        ],
                [
		  { "type": "field", "params": [ "disk_avail_pct.crit_lower" ] },
		  { "type": "alias", "params": [ "critical" ] }
	        ]
              ]
            }
          ]
        }
      ]
    },
    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [
        {
          "title": "Disk i-node - %hostname%:%target%",
          "id": "disk0003",
	  "datasource": "%grafanadatasource%",
          "isNew": true,
          "editable": true,
          "span": 6,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "short" ],
          "grid": {
            "leftLogBase": 1, "leftMax": null, "leftMin": 0
          },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [
            {
	      "refId": "0001",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "refId": "A",
              "measurement": "%measurement%",
	      "alias": "$col",
              "groupBy": [],
              "tags": [
                { "key": "hostname", "operator": "=", "value": "%hostname%" },
                { "key": "disk", "operator": "=", "value": "%target%" }
              ],
              "select": [
                [
		  { "type": "field", "params": [ "disk_itotal" ] },
		  { "type": "alias", "params": [ "total size" ] }
		],
                [
		  { "type": "field", "params": [ "disk_iavail" ] },
		  { "type": "alias", "params": [ "available size" ] }
	        ]
              ]
            }
          ]
        },
        {
          "title": "Disk i-node Available % - %hostname%:%target%",
          "id": "disk0004",
	  "datasource": "%grafanadatasource%",
          "isNew": true,
          "editable": true,
          "span": 6,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "percent" ],
          "grid": {
            "leftLogBase": 1, "leftMax": 100, "leftMin": 0
          },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [
            {
	      "refId": "0001",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "refId": "A",
              "measurement": "%measurement%",
	      "alias": "$col",
              "groupBy": [],
              "tags": %tags%,
              "select": [
                [
		  { "type": "field", "params": [ "disk_iavail_pct" ] },
		  { "type": "alias", "params": [ "available %" ] }
		],
                [
		  { "type": "field", "params": [ "disk_iavail_pct.warn_lower" ] },
		  { "type": "alias", "params": [ "warning" ] }
	        ],
                [
		  { "type": "field", "params": [ "disk_iavail_pct.crit_lower" ] },
		  { "type": "alias", "params": [ "critical" ] }
	        ]
              ]
            }
          ]
        }
      ]
    }
