    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [ {
          "title": "%tags_text% - %fieldkey%",
          "id": 1,
          "isNew": true,
          "editable": true,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "short" ],
          "grid": { "leftLogBase": 1, "leftMax": null, "leftMin": 0 },
          "legend": {
            "show": true,
	    "values": false, "avg": true, "max": true, "min": true, "current": false, "total": false,
	    "rightSide": false, "alignAsTable": false,
	    "hideEmpty": true, "hideZero": false
          },
          "targets": [ {
	      "refId": "A",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "alias": "$col",
	      "query": "SELECT difference(last(\"%fieldkey%\")) AS \"differencial\" FROM \"%measurement%\" WHERE %tags_where% GROUP BY time(30m) fill(null)",
	      "rawQuery": true
          } ]
      } ]
    }
