    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [ {
          "title": "%servicename% - %target%",
          "id": 1,
          "isNew": true,
          "editable": true,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "short" ],
          "grid": { "leftLogBase": 1, "leftMax": null, "leftMin": null },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [ {
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [],
              "measurement": "%measurement%",
              "tags": [ { "key": "hostname", "operator": "=", "value": "%hostname%" } ],
              "query": "SELECT \"%target%\" AS \"value\", \"%target%.warn_upper\" AS \"warn_upper\", \"%target%.warn_lower\" AS \"warn_lower\", \"%target%.crit_upper\" AS \"crit_upper\", \"%target%.crit_lower\" AS \"crit_lower\" FROM \"%measurement%\" WHERE \"hostname\" = '%hostname%'",
              "select": [
                [ { "type": "field", "params": [ "%target%" ] } ],
                [ { "type": "field", "params": [ "%target%.warn_upper" ] } ],
                [ { "type": "field", "params": [ "%target%.warn_lower" ] } ],
                [ { "type": "field", "params": [ "%target%.crit_upper" ] } ],
                [ { "type": "field", "params": [ "%target%.crit_lower" ] } ]
              ]
          } ]
      } ]
    }
