    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [ {
          "title": "%servicedesc% - %fieldkey%",
          "id": "gpercent0001",
	  "datasource": "%grafanadatasource%",
          "isNew": true,
          "editable": true,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "percent" ],
          "grid": { "leftLogBase": 1, "leftMax": 100, "leftMin": 0 },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [ {
	      "refId": "0001",
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [],
              "measurement": "%measurement%",
              "tags": %tags%,
              "select": [
                [ { "type": "field", "params": [ "%fieldkey%" ] } ],
                [ { "type": "field", "params": [ "%fieldkey%.warn_upper" ] } ],
                [ { "type": "field", "params": [ "%fieldkey%.warn_lower" ] } ],
                [ { "type": "field", "params": [ "%fieldkey%.crit_upper" ] } ],
                [ { "type": "field", "params": [ "%fieldkey%.crit_lower" ] } ]
              ]
          } ]
      } ]
    }
