    {
      "title": "Row",
      "collapse": false,
      "editable": true,
      "height": "250px",
      "panels": [ {
          "title": "%servicedesc% - %target%",
          "id": 1,
          "isNew": true,
          "editable": true,
          "tooltip": { "shared": true, "value_type": "individual" },
          "type": "graph",
          "x-axis": true,
          "y-axis": true,
          "y_formats": [ "short" ],
          "grid": { "leftLogBase": 1, "leftMax": null, "leftMin": null },
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "show": true,
            "total": false,
            "values": false
          },
          "targets": [ {
              "dsType": "influxdb",
              "resultFormat": "time_series",
              "groupBy": [],
              "measurement": "%measurement%",
              "tags": [ { "key": "hostname", "operator": "=", "value": "%hostname%" } ],
              "query": "SELECT \"%target%_total\" AS \"total\", \"%target%_avail\" AS \"avail\", \"%target%_free\" AS \"free\",  \"%target%_used\" AS \"used\", \"%target%_avail.warn_lower\" AS \"avail_warn_lower\", \"%target%_avail.crit_lower\" AS \"avail_crit_lower\", \"%target%_free.warn_lower\" AS \"free_avail_lower\", \"%target%_free.crit_lower\" AS \"free_crit_lower\" FROM \"%measurement%\" WHERE \"hostname\" = '%hostname%'",
              "select": [
                [ { "type": "field", "params": [ "%target%_total" ] } ],
                [ { "type": "field", "params": [ "%target%_avail" ] } ],
                [ { "type": "field", "params": [ "%target%_free" ] } ],
                [ { "type": "field", "params": [ "%target%_used" ] } ],
                [ { "type": "field", "params": [ "%target%_avail.warn_lower" ] } ],
                [ { "type": "field", "params": [ "%target%_avail.crit_lower" ] } ],
                [ { "type": "field", "params": [ "%target%_free.warn_lower" ] } ],
                [ { "type": "field", "params": [ "%target%_free.crit_lower" ] } ]
              ]
          } ]
      } ]
    }
