Source: naemon2influx-grafana-helper
Section: net
Priority: optional
Maintainer: SASAJIMA Toshihiro <frisky-.-gh@watao3.info>
Build-Depends: debhelper
Standards-Version: 10

Package: naemon2influx-grafana-helper
Section: net
Architecture: all
Depends: grafana, naemon2influx
Description: naemon2influx-grafana-helper provides a Grafana scripted dashboard
 which visualize performance data collected by naemon2influx.
 .
